<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peekaboo.mapper.UserMapper">
	
	<sql id="userColumns">
		id,
		user_id,
		user_name,
		user_picture,
		user_number,
		user_email,
		user_follower_cnt,
		user_following_cnt,
		user_join_date,
		user_birth,
		user_intro,
		provider,
		role
	</sql>
	
	<select id="findByUserId" parameterType="String" resultType="User">
		SELECT
			<include refid="userColumns" />
		FROM
			user
		WHERE
			user_id = #{userId}
	</select>
	
	<insert id="signUp" parameterType="User">
		INSERT INTO user (
			<include refid="userColumns" />
		) VALUES (
			#{id},
			#{userId},
			#{userName},
			#{userPicture},
			#{userNumber},
			#{userEmail},
			#{userFollowerCnt},
			#{userFollowingCnt},
			NOW(),
			#{userBirth},
			#{userIntro},
			#{provider},
			#{role}
		)
			
	</insert>
	
</mapper>